#foo {
    background-color: green;
    color: white;
    font-size: 22px;
}
#foo2 {
    background-color: green;
    color: white;
    font-size: 22px;
}
#foo.active {
    background-color: red;
    color: white;
    font-size: 22px;
}
#foo2.active {
    background-color: red;
    color: white;
    font-size: 22px;
}
